<!--<section class="loginform cf">  -->
<!--<form name="login" action="index_submit" method="get" accept-charset="utf-8">  -->
    <!--<ul>  -->
        <!--<li><label for="usermail">Email</label>  -->
        <!--<input type="email" name="usermail" placeholder="yourname@email.com" required></li>  -->
        <!--<li><label for="password">Password</label>  -->
        <!--<input type="password" name="password" placeholder="password" required></li>  -->
        <!--<li>  -->
        <!--<input type="submit" value="Login"></li>  -->
    <!--</ul>  -->
<!--</form>  -->
<!--</section>  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


  <!-- General meta information -->
  <title>Login Form by Oussama Afellad</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="robots" content="index, follow" />
  <meta charset="utf-8" />
  <!-- // General meta information -->


  <!-- Load Javascript -->
  <!--<script type="text/javascript" src="./js/jquery.js"></script>-->
  <!--<script type="text/javascript" src="./js/jquery.query-2.1.7.js"></script>-->
  <!--<script type="text/javascript" src="./js/rainbows.js"></script>-->
  <!-- // Load Javascipt -->

  <script>


      $(document).ready(function(){

          $("#submit1").hover(
                  function() {
                      $(this).animate({"opacity": "0"}, "slow");
                  },
                  function() {
                      $(this).animate({"opacity": "1"}, "slow");
                  });
      });


  </script>

</head>
<body>

<div id="wrapper">
  <div id="wrappertop"></div>

  <div id="wrappermiddle">

    <h2>Login</h2>
    <%= form_tag(login_user_index_path, multipart: true) %>
       <div class="notice_portion"><p id="notice"><%= notice %></p></div>
    <div id="username_input">
      <div id="username_inputleft"></div>
      <div id="username_inputmiddle">
          <input type="text" name="user[email_id]" id="url" value="E-mail Address" onclick="this.value = ''">
          <img id="url_user" src="./images/mailicon.png" alt="">
      </div>
      <div id="username_inputright"></div>
    </div>

    <div id="password_input">
      <div id="password_inputleft"></div>
      <div id="password_inputmiddle">
          <input type="password" name="user[password]" id="url" value="Password" onclick="this.value = ''">
          <img id="url_password" src="./images/passicon.png" alt="">
      </div>
      <div id="password_inputright"></div>
    </div>

    <div id="submit">
        <!--<input type="image" src="./images/submit_hover.png" id="submit1" value="Sign In">-->
        <!--<input type="image" src="./images/submit.png" id="submit2" value="Sign In">-->
         <%= submit_tag "Sign in" %>
    </div>


    <div id="links_left">
      <a href="#">Forgot your Password?</a>
    </div>

    <div id="links_right">
      <a href="#">Not a Member Yet?</a>
      <%= link_to "Sign Up", sign_up_user_index_path %>
    </div>

  </div>

  <div id="wrapperbottom"></div>

  <div id="powered">
    <p>Powered by <a href="https://www.facebook.com/vijay.velu.3">Vijay</a></p>
  </div>
</div>

</body>
</html>
